<article class="fq-comment-card-container fq-animated fq-fadeIn"
         [ngClass]="{'fq-comment-card-reply-bg': comment.parentId != null}">
  <section>
    <section class="fq-comment-card-user">
      <img class="fq-comment-card-avatar" src="{{comment.senderUser.userId | gravatar}}" alt="">

      <label class="fq-text-bold">{{comment.senderUser.name1 | titlecase}} {{comment.senderUser.name2 | titlecase}}</label>
    </section>

    <label>
      {{comment.text}}
    </label>

    <section class="fq-comment-card-reply">
      <section class="fq-comment-card-reply-input">
        <fq-comment-input *ngIf="replyInput"
                          [isReply]="true"
                          [commentParent]="comment"
                          (newComment)="newReply($event)"></fq-comment-input>
      </section>

      <button class="btn fq-comment-card-reply-btn"
              *ngIf="comment.parentId == null"
              (click)="showReplyInput()">
        <span class="fq-icon-reply mx-2"></span>

        <span *ngIf="!replyInput">Reply</span>

        <span *ngIf="replyInput">Cancel</span>
      </button>
    </section>

    <fq-comment-card *ngFor="let reply of comments.reverse()" [comment]="reply"></fq-comment-card>
  </section>
</article>
