.fq-bulletin-card {
  &-container {
    margin: 20px auto;
  }

  &-user {
    display: flex;
    align-items: center;
  }

  &-body {
    margin: 10px 0 5px 0;
  }

  &-comments {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray);

    &-input {
      width: 90%;
    }

    &-btn {
      margin: 3px 20px;
      color: var(--navy);
      font-size: 12px;
    }
  }
}

.avatar {
  background-color: var(--purple);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.card-body {
  padding: 20px;
}
