.fq-bulletin-input {

  &-container {
    margin: 20px auto;
  }

  &-card {
    display: flex;
    padding: 20px;
    color: rgb(221, 221, 221);
  }

  &-form {
    width: 100%;
  }

  &-button {

    &-send {
      background-color: var(--navy);
      color: var(--white);
      border-radius: 15px;
      float: right;
      display: flex;
      align-items: center;
    }
  }

  &-form {
    margin-bottom: 10px;
  }
}
