.fq-bulletin {

  &-search {
    margin: 10px;
    display: flex;

    &-input {
      width: 100%;
      border-bottom: 1px solid var(--navy);
      background-color: transparent;
      color: var(--navy);

      &:focus {
        border-bottom: 1px solid var(--purple);
      }
    }

    &-btn {
      background-color: var(--navy);
      color: var(--white);
      border-radius: 15px;
    }
  }
}
