.fq-text {
  font-size: 14px;
  font-family: Exo1, sans-serif;
}

.fq-text-s1 {
  font-size: 1.5rem;
}

.fq-text-s2 {
  font-size: 1.2rem;
}

.fq-text-s3 {
  font-size: 0.8rem;
}

.fq-text-bold {
  font-weight: bold;
}

.fq-text-white {
  color: var(--white);
}

.fq-alert-danger {
  font-size: 0.6rem;
  color: #ff0000;
}

.fq-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
