@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f6gjo0');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?f6gjo0#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?f6gjo0') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?f6gjo0') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?f6gjo0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fq-icon"], [class*="fq-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fq-icon-chevron-circle-right-solid {
  &:before {
    content: $fq-chevron-circle-right-solid;
  }
}

.fq-icon-chevron-left-solid {
  &:before {
    content: $fq-chevron-left-solid;
  }
}

.fq-icon-chevron-right-solid {
  &:before {
    content: $fq-chevron-right-solid;
  }
}

.fq-icon-home3 {
  &:before {
    content: $fq-home3;
  }
}

.fq-icon-reply {
  &:before {
    content: $fq-reply;
  }
}

.fq-icon-bubble2 {
  &:before {
    content: $fq-bubble2;
  }
}

