$icomoon-font-family: "icons-font" !default;
$icomoon-font-path: "fonts" !default;

$fq-chevron-circle-right-solid: "\e900";
$fq-chevron-left-solid: "\e901";
$fq-chevron-right-solid: "\e902";
$fq-home3: "\e903";
$fq-reply: "\e96a";
$fq-bubble2: "\e96e";

