:root {
  /*Gray*/
  --gray-rgb: 203, 205, 209;
  --graylight-rgb: 221, 221, 221;
  --gray: rgb(var(--gray-rgb));
  --graylight: rgb(var(--graylight-rgb));

  /*Navy*/
  --navy-rgb: 0, 13, 107;
  --navy: rgb(var(--navy-rgb));

  /*White*/
  --white-rgb: 255, 255, 255;
  --white: rgb(var(--white-rgb));

  /*Purple*/
  --purple-rgb: 156, 25, 224;
  --purple: rgb(var(--purple-rgb));

  /*Teal*/
  --teal-rgb: 153, 221, 204;
  --teal: rgb(var(--teal-rgb));

    /*Red*/
    --red-rgb: 255, 0, 0;
    --red: rgb(var(--red-rgb));
}
