<article class="fq-comment-input-container fq-animated fq-fadeIn">
  <form class="fq-comment-input-form">
    <section class="fq-comment-input-form-field">
      <input type="text" class="fq-input fq-comment-input" name="comment" placeholder="Write a comment..."
             [(ngModel)]="comment">
    </section>

    <section>
      <button type="submit" class="btn fq-comment-input-btn"
              (click)="_onSubmitRequest()">
        <span class="fq-text-bold fq-text-white">Send</span>
      </button>
    </section>
  </form>
</article>
