.fq-home-buttons {
  display: flex;
  justify-content: space-around;

  &-btn {
    background-color: var(--navy);
    width: 150px;
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
  }
}

