<article class="fq-bulletin-input-container fq-animated fq-fadeIn">
  <section class="fq-card fq-bulletin-input-card">
    <form class="fq-bulletin-input-form">
      <section class="fq-bulletin-input-form">
        <input class="form-control" type="text" placeholder="New post..." name="text"
               [(ngModel)]="text">
      </section>

      <section class="fq-bulletin-input-button">
        <button class="btn fq-bulletin-input-button-send" type="submit"
                (click)="_onSubmitRequest()">
          <label class="btn-txt fp-txt-bold fq-text-white mx-2">Send</label>

          <span class="fq-icon-chevron-circle-right-solid fq-text-white"></span>
        </button>
      </section>
    </form>
  </section>
</article>
