<article class="fq-bulletin-card-container fq-animated fq-fadeIn">
  <section class="fq-card">
    <section class="card-body">
      <section class="fq-bulletin-card-user">
        <img class="avatar" src="{{bulletin.senderUser.userId | gravatar}}" alt="">

        <label
          class="fq-text-s2">{{bulletin.senderUser.name1 | titlecase}} {{bulletin.senderUser.name2 | titlecase}}</label>
      </section>

      <section class="fq-bulletin-card-body">
        <p class="card-text">{{bulletin.body}}</p>
      </section>
    </section>

    <section class="fq-bulletin-card-comments">
      <section class="fq-bulletin-card-comments-input">
        <fq-comment-input *ngIf="writeComment" [bulletin]="bulletin"
                          (newComment)="newComment($event)">
        </fq-comment-input>
      </section>

      <button class="btn fq-bulletin-card-comments-btn" (click)="showCommentInput()">
        <span class="fq-icon-bubble2 mx-2"></span>

        <span *ngIf="!writeComment">Comment</span>

        <span *ngIf="writeComment">Cancel</span>
      </button>
    </section>

    <fq-comment-card *ngFor="let comment of comments.reverse()" [comment]="comment"></fq-comment-card>
  </section>
</article>
