<nav class="navbar navbar-expand-lg navbar-dark fq-navbar-bg">
  <section class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']"
       *ngIf="currentUser">
      {{currentUser.firstName | titlecase}} {{currentUser.lastName | titlecase}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <section class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/']">
            Home
          </a>
        </li>

        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/bulletins']">
            Bulletins
          </a>
        </li>
      </ul>

      <section class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             *ngIf="currentUser"
             [routerLink]="['/public/sign-in']"
             (click)="logout()">
            Logout
          </a>
        </li>
      </section>
    </section>
  </section>
</nav>
