.fq-signup-container {
  max-width: 30em;
  margin: 20px auto;
}

.fq-signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fq-signup-title {
  margin: 1em 0 2em 0;
  color: var(--navy);
}

.fq-signup-form-field {
  min-width: 75%;
  margin-bottom: 2em;

  &-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-alert {
    margin-left: 150px;
    margin-top: 5px;
  }
}

.fq-signup-input {
  border: 1px solid var(--navy);
  border-radius: 5px;
  padding: 5px 5px;

  &-invalid {
    border: 1px solid var(--red);
  }
}

.fq-signup-form-buttons {
  margin: 50px 0 50px 0px;

  &-btn {
    background-color: var(--navy);
    width: 10em;
    padding: 15px;
    border: none;
    border-radius: 20px;
  }
}

.fq-signup-link {
  margin: 20px auto;

  &-signin {
    color: var(--purple);
  }
}
