<article class="fq-bulletin-container">
  <fq-bulletin-search [currentUser]="currentUser"
                      (bulletinsFind)="bulletinsFind($event)"></fq-bulletin-search>

  <fq-bulletin-input [currentUser]="currentUser"
                     (newBulletin)="newBulletinInput($event)"></fq-bulletin-input>

  <fq-bulletin-card *ngFor="let item of bulletins.reverse()"
                    [bulletin]="item"></fq-bulletin-card>
</article>
