<form class="fq-bulletin-search">
  <input type="text" class="fq-input fq-bulletin-search-input" placeholder="Search bulletin..." name="body"
         [(ngModel)]="body">

  <button class="btn fq-bulletin-search-btn" type="submit">
    <label class="btn-txt fq-text-bold fq-text-white" (click)="search(0)">Search</label>
  </button>
</form>

<fq-page-navigate [pageShow]="page"
                  [totalPages]="totalPages"
                  (page)="changePage($event)">
</fq-page-navigate>
