<article class="fq-signin-container fq-animated fq-fadeIn">
  <form class="fq-card fq-signin-card"
        [formGroup]="signForm"
        (ngSubmit)="_signInRequest()">
    <label class="fq-text-s1 fq-text-bold fq-signin-title">{{title}}</label>

    <section class="fq-signin-form-field">
      <section class="fq-signin-form-field-input">
        <label class="fq-text-bold">First Name</label>

        <input type="text" class="fq-input fq-signin-input" name="firstName" formControlName="firstName" required
               [ngClass]="{'fq-signin-input-invalid': submitted && form.firstName.errors}">
      </section>

      <section class="fq-alert-danger fq-signin-form-field-alert" *ngIf="submitted && form.firstName.errors">
        <label *ngIf="form.firstName.errors?.required">First Name is required.</label>
      </section>

      <section class="fq-alert-danger fq-signin-form-field-alert" *ngIf="form.firstName.errors">
        <label *ngIf="form.firstName.errors?.pattern">No numbers allowed.</label>
      </section>
    </section>

    <section class="fq-signin-form-field">
      <section class="fq-signin-form-field-input">
        <label class="fq-text-bold">Last Name</label>

        <input type="text" class="fq-input fq-signin-input" name="lastName" formControlName="lastName" required
               [ngClass]="{'fq-signin-input-invalid': submitted && form.lastName.errors}">
      </section>

      <section class="fq-alert-danger fq-signin-form-field-alert" *ngIf="submitted && form.lastName.errors">
        <label *ngIf="form.lastName.errors?.required">Last Name is required.</label>
      </section>

      <section class="fq-alert-danger fq-signin-form-field-alert" *ngIf="form.lastName.errors">
        <label *ngIf="form.lastName.errors?.pattern">No numbers allowed.</label>
      </section>
    </section>

    <section class="fq-signin-form-buttons">
      <button class="btn fq-signin-form-buttons-btn" type="submit">
        <span class="btn-txt fq-text-white fq-text-s2">Login</span>
      </button>
    </section>

    <section class="fq-signin-link">
      <label class="fq-text-s3">You do not have an account?
        <span class="fq-signin-link-signin fq-text-bold">
          <a [routerLink]="['/public/sign-up']">Sign Up</a>
        </span>
      </label>
    </section>
  </form>
</article>
