<article class="home container col-12 col-md-6">
  <section class="fq-card card m-4">
    <label class="h1 m-auto">Welcome</label>

    <label class="h5 text-justify mt-3 p-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. liquid tempore voluptates vel iste, doloribus,
      laudantium laboriosam officiis. Architecto.
    </label>
  </section>

  <section class="fq-home-buttons">
    <a class="btn fq-home-buttons-btn" [routerLink]="['/public/sign-in']">Sign In</a>

    <a class="btn fq-home-buttons-btn" [routerLink]="['/public/sign-up']">Sign Up</a>
  </section>
</article>
