/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}

body {
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}
