.fq-comment-input {

  &-container {
    margin: 5px 0px 5px 20px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-field {
      width: 80%;
    }
  }

  & {
    border-bottom: 1px solid var(--navy);
    width: 100%;
    padding: 0 5px;
    background-color: transparent;

    &:focus {
      border-bottom: 1px solid var(--purple);
    }
  }

  &-btn {
    background-color: var(--navy);
    color: var(--white);
    border-radius: 15px;
  }
}
