.fq-comment-card {
  &-container {
    margin: 5px 20px;
    background-color: var(--graylight);
    border-radius: 20px;
    padding: 10px;
  }

  &-user {
    margin-bottom: 5px;
  }

  &-reply {
    display: flex;
    justify-content: space-between;

    &-input {
      width: 90%;
    }

    &-btn {
      margin: 0 20px;
      color: var(--navy);
      font-size: 12px;
    }

    &-bg {
      background-color: var(--gray);
    }
  }

  &-avatar {
    background-color: var(--purple);
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

