<article class="fq-page-navigate">
  <button class="btn btn-primary"
          *ngIf="pageShow > 0"
          (click)="prevPage()">
    <span class="fq-icon-chevron-left-solid"></span>

    <span class="fq-text-bold mx-2">Prev</span>
  </button>

  <span class="fq-text-bold mx-2">{{pageShow + 1}}</span>

  <button class="btn btn-primary"
          *ngIf="pageShow < totalPages-1"
          (click)="nextPage()">
    <span class="fq-text-bold mx-2">Next</span>

    <span class="fq-icon-chevron-right-solid"></span>
  </button>
</article>
